<% provide(:title, "Show Team") %>
<h1> Show Team </h1>
<br>
<h2>Hackers</h2>
<ul>
	<li>City: Memphis </li>
	<li>Sate: TN </li>
	<li>Owner: B.B. King </li>
	<li>Players: 
		<ul>
			<li>Chris Brothers</li>
			<li>Fed Ecks</li>
			<li>Jill Morris</li>
			<li>Auto Vone Zone</li>
		</ul>
		 </li>
</ul>
<hr>
<a href="http://cs.memphis.edu"> <u>Home </u></a>